<div class="row up-navbar">
  <div class="col-md-12">

    <strong>
      <%= link_to "/" do %>
        <%= image_tag("arrow.png", class: "up-logo") %> upvote  &nbsp;
      <% end %>
    </strong>

    <%= link_to "posts", posts_path %> |
    <%= link_to "posts", posts_path %>
  </div>
</div>
