<div class="row up-content">
  <div class="col-md-12">
    <table>
      <% @posts.each_with_index do |post, index| %>

        <%= render partial: "post", locals: {post: post, index: index + 1} %>

      <% end %>
    </table>
  </div>
</div>
