<div class="row up-content">
  <div class="col-md-12">
    <table>
      <% @posts.each_with_index do |post, index| %>
        <div class="post">

          <div class="post-row">
            <div class="post-block">
              <%= index + 1 %>.
            </div>

            <div class="post-block">
            </div>

            <div class="post-block">
              <p class="post-primary">
                <%= link_to post.title, post.link %>
                <% if !post.host.blank? %>
                  <span class="external-link">(<%= post.host %>)</span>
                <% end %>
              </p>

              <p class="post-secondary">
                7 hours ago
              </p>
            </div>
          </div>

        </div>
      <% end %>
    </table>
  </div>
</div>
