/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.primary{
  color: #217C7E;
}

.secondary{
  color: #9A3334;
}

.tertiary{
  color: #3399FF;
}

.bg-color{
  background-color: #F3EFE0;
}

/*
 *  Navbar
 */

.up-navbar{
  background-color: #217C7E;
  color: #fff;
  padding: 5px 0px;
  margin-top: 10px;
}

.up-navbar a{
  color: #fff;
}

.up-navbar a:hover{
  color: #fff;
  text-decoration: none;
}

/*
 *  Content
 */
 .up-content{
  background-color: #F3EFE0;
  padding: 5px 0px;
 }
